.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 2rem;

  


}

.headerContent {
  height: 5rem;
  display: flex;
  // justify-content: space-between;


  img{
    width: 8rem;
  }

  nav {
    margin-left: 5rem;
    height: 5rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0.5rem;
      height: 5rem;
      line-height: 4rem;
      color: var(--gray-300);
      text-decoration: none;
      transition: 0.3s;
      font-size: 1.2rem;

      &:hover {
        color: var(--white);
      }

      & + a {
        margin-left: 2rem;
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        content: '';
        height: 3px;
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: var(--yellow-500);
      }
    }
  }
}
