.signInButton {
  height: 3rem;
  border-radius: 3rem;
  padding: 0 0.5rem;
  background: var(--gray-850);
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  font-weight: bold;

  svg {
    width: 20px;
    height: 20px;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  svg:last-child {
    margin-left: 1rem;
  }

  transition: 0.3s;

  &:hover {
    filter: brightness(0.8);
  }
}
